.more-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.more-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
