.container{
    width: 100%;
    max-width: 992px;
    
    margin:64px auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap row;
    gap:32px 16px;
}