.ant-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: #e8e8e8;
  padding: 16px;
}

.ant-card-body {
  padding: 20px 0 16px 0 !important;
}

.ant-card-meta-section {
  display: flex;
  flex-direction: column;
}

.ant-card-meta-section .ant-card-meta-title {
  font-size: 16px;
  font-weight: 700;
}

.ant-card-meta-section .ant-card-meta-description {
  font-size: 14px;
  order: -1 !important;
  color: #717182;
}

.ant-card-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 5 !important;
  background: #f9fafb;
  border-radius: 16px;
}
