{
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 110,
  "quoteProps": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}