@import '../../../assets/styles/variables';

header {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 48px;
}

@media screen and (max-width: $mobile__breakpoint) {
    header {
        padding: 0 16px;
    }
}