.error-container,
.container-info {
    margin: 20px auto;
    max-width: 80%;
}

.row-info {
    margin: 20px 0;
    justify-content: center;
    border: none;
    gap: 8px;
}

.card-wraper {
    border-radius: 8px;
}

.card {
    border: none !important;
    background: #F9F8CD !important;
    border-radius: 8px !important;
}

.card-body {
    display: flex;
    justify-content: space-between;
    background: var(--type-grass);
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.card-title,
.card-number {
    color: white;
    font-size: 32px;
    line-height: 32px;
}

.card-title {
    font-weight: 700;
}

.card-number {
    font-weight: 400;
}

.container-info-content {
    background: white;
    border: none;
    padding: 15px 20px 5px 20px;
    border-radius: 8px;
}

.dimensions {
    display: flex;
    justify-content: space-between;
}

.attribute-container {
    display: block;
    padding: 2px 10px;
}

.attribute-container h5 {
    font-size: 22px;
    line-height: 22px;
    color: #848484;
}

.attribute-container p {
    font-size: 18px;
    line-height: 18px;
}

.container-type {
    display: flex;
    gap: 8px;
}

.label-type {
    border-radius: 8px;
    max-width: 135px;
    height: 30px;
    display: inline-block;
    padding: 4px 10px;
    justify-content: center;
}

.label-type p {
    color: white;
}

.chart-container {
    margin-top: 5px;
    height: 200px;
}