.abilitiesInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.abilitiesInfo h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.abilitiesInfo h2 {
  font-size: 24px;
  margin: 8px 0px;
  padding-bottom: 30px;
  text-transform: capitalize;
}
