.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.wrapper {
  flex: 1;
  max-width: 960px;
  margin: 20px;
}
.header-div-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
}

@media screen and (max-width: 500px) {
  .header-image {
    width: 50%;
  }
}
.header-image-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container-form {
  padding: 10px 0;
}

form {
  display: flex;
  flex-direction: row;
}

.form-div-search-input {
  flex: 1;
}
.form-search-input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
}

.form-search-input::-webkit-input-placeholder {
  color: #ded9d9;
  font-style: italic;
}

.form-search-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ded9d9;
  font-style: italic;
}

.form-search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ded9d9;
  font-style: italic;
}

.form-search-input:-ms-input-placeholder {
  color: #ded9d9;
  font-style: italic;
}

.form-button-submit {
  border: 0;
  outline: none;
  border-radius: 8px;
  padding: 5px;
  color: #7d7a7a;
  font-style: italic;
  font-size: 1.1rem;
  margin-left: 20px;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.form-button-submit:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-cards {
  margin-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.up-to-top {
  height: 40px;
  width: 40px;
  background-color: #194c9a;
  position: fixed;
  bottom: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
