.button {
  align-content: flex-end;
  border-radius: 10px;
  border: solid 1px;
  width: fit-content;
  padding: 8px 20px;
  margin: 15px;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}
