:root {
  --red: #CB1E24;
  --blue: #2468B1;
  --yellow: #FCCF00;

  --light-gray-400: #F1F4F8;
  --light-gray-500: #EAEDF1;
  --light-gray-600: #CDD4DB;

  --dark-gray-400: #43505F;
  --dark-gray-500: #36414D;
  --dark-gray-600: #232B32;
}
