* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --type-grass: #78C850;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-bug: #A8B820;
    --type-normal: #A8A878;
    --type-poison: #A040A0;
    --type-electric: #F8D030;
    --type-ground: #E0C068;
    --type-fairy: #EE99AC;
    --type-fighting: #C03028;
    --type-psychic: #F85888;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-ice: #98D8D8;
    --type-dragon: #7038F8;
    --type-flying: #A691E0;
    --type-steel: #B8B6D2;
    --type-dark: #6C5746;
}

body {
    background-color: #FF0000 !important;
}

body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
}