@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Helvetica Neue, sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  margin-bottom: 5px;
}