* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow-x: hidden;

  background-color: #FFF;
  color: #2F3133;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  background: transparent;
  line-height: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  list-style: none;
}
