body {
  margin: 0px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Asap', sans-serif;
}
.container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-right:15px;
  padding-left:15px
}

.ant-image-mask {
  display: none !important;
}

.ant-select {
  width: 100% !important;
  max-width: 564px;
}

.ant-input-wrapper .ant-btn{
  border-radius: 0px 16px 16px 0px !important;
  background-color: #0b0b0b;
}

.ant-select input{
  border-color: transparent !important;
  background-color: #f5f5f5 !important;
  border-radius: 16px;
  padding-left: 16px;
}

.ant-select .ant-btn{
  border-radius: 16px;
}

aside {
  position: fixed;
  right: 24px;
  top: 50%;
  opacity: 0;
  right: -100px;
  transform: translateY(-50%);
  z-index: 3;
  background-color: #fff;
  padding: 16px 8px;
  padding-top: 18px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  animation: slideInLeft 0.8s ease forwards;
}
aside a {
  display: block;
  font-size: 24px;
  color: #0f141e;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;
}
aside a:last-child {
  margin-bottom: 0;
}
aside a:hover {
  color: #0f141e;
  transform: translateY(-4px);
}
aside button {
  background-color: transparent;
  border: none;
  padding: 0px;
  transition: 0.3s ease-in-out;
}
aside button:hover {
  opacity: 0.6;
}

.ant-btn-primary {
  display: flex;
  align-items: center;
  background-color: #0b0b0b;
  transition: .3s ease-in-out;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-btn-primary svg path {
  transition: .3s ease-in-out;
}

.ant-btn-primary:hover{
  background-color: #fff !important;
  color: #0b0b0b !important;
  transform: translateY(-2px);
}

.ant-btn-primary:hover svg path{
  fill: #0b0b0b;
}

.ant-input-group-addon .ant-btn-primary:hover {
  background-color: #0b0b0b !important;
  color: #fff !important;
  transform: none;
  opacity: 0.7;
  box-shadow: none;
}

.ant-input-group-addon .ant-btn-primary:hover svg path {
  fill: #fff;
}

@media (min-width: 476px){
  .container{
    padding-right:15px;
    padding-left:15px
  }
}
@media (min-width: 768px){
  .container{
    padding-right:15px;
    padding-left:15px
  }
}
@media (min-width: 992px){
  .container{
    padding-right:15px;
    padding-left:15px
  }
}
@media (min-width: 1200px){
  .container{
    padding-right:15px;
    padding-left:15px
  }
}
@media (min-width: 476px){
  .container{
    width: calc(100% - 30px);
  }
}
@media (min-width: 768px){
  .container{
    width:720px;
    max-width:100%
  }
}
@media (min-width: 992px){
  .container{
    width:960px;
    max-width:100%
  }
}
@media (min-width: 1200px){
  .container{
    width:1140px;
    max-width:100%
  }
}
@media (min-width: 1400px){
  .container{
    width:1340px;
    max-width:100%
  }
}

@media(max-width: 991px) {
  aside {
    right: 8px !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 24px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}