.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}

.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.headerInfo h2{
  text-transform: capitalize;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.gridItem {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
}