.containerStyles {
  height: 50px;
}

.containerStyles progress[value] {
  width: 100%;
}

.textGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textGroups label {
  text-transform: capitalize;
}

.containerStyles progress[value]::-webkit-progress-bar {
}

.containerStyles progress[value]::-webkit-progress-value {
}

.containerStyles progress[value]::-webkit-progress-inner-element {
}
