@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

*, input, textarea, button {
  font-family: 'inter', sans-serif;
}

html {
  font-size: 62.5%;

  @media(max-width: 1080px) {
    font-size: 56.25%;
  }

  @media(max-width: 720px) {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

//modificando o estilo base da biblioteca react-toastify
.Toastify__toast-body {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--light-gray-300);
}

.Toastify__close-button {
  svg {
    fill: var(--light-gray-300);
  }
}