.container {
  background-color: aquamarine;
  max-width: 224px;
  border-radius: 20px;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.gridItem {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}