.pokemon-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.tags-list-container {
  position: relative;
  background-color: #fff;
  border-radius: 0px 0px 64px 64px;
  padding: 64px 0px 40px 0px;
  margin-bottom: 32px;
  overflow-x: hidden;
}

.tags-list-container h1{
  font-size: 48px;
  line-height: 132%;
  margin: 0px;
  margin-bottom: 32px;
}

.gray-pokeball-background {
  position: absolute;
  top: -180px;
  right: -140px;
  height: 60vh;
  width: auto;
  max-height: 490px;
  animation: rotate 10s linear infinite;
}

.pokemons-list-container {
  padding-bottom: 40px;
}

.pokemons-list-container h1 {
  margin: 0px;
  font-size: 32px;
}

.pokemon-list-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.infinite-scroll-anchor {
  height: 40px;
}

.ant-btn-primary.comparing {
  background-color: transparent;
  border: 1px solid #0b0b0b;
  color: #0b0b0b !important;
  animation: float 2s ease infinite;
}
.ant-btn-primary.comparing svg path {
  fill: #0b0b0b;
}
.ant-btn-primary.comparing:hover{
  background-color: #fff !important;
  color: #0b0b0b !important;
  transform: translateY(-2px);
}

@media(max-width: 991px) {
  .gray-pokeball-background {
    height: 300px;
  }
  .tags-list-container {
    border-radius: 0px 0px 32px 32px;
    padding: 80px 0px 0px 0px;
    overflow: hidden;
  }
  .tags-list-container h1{
    font-size: 24px;
    margin-bottom: 24px;
  }
  .search-bar {
    margin-bottom: 64px;
  }
  .pokemon-card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .pokemon-card .ant-image {
    width: 100px;
    top: auto;
    bottom: 0px;
    right: 8px;
    transform: translateY(-8px);
  }
  .ant-col {
    display: flex;
  }
  .pokemon-card .pokemon-types-container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  .pokemon-card .pokemon-type {
    font-size: 12px;
  }
  .pokemon-card .pokemons-name {
    font-size: 18px;
    margin-bottom: 16px;
    position: relative;
    z-index: 3;
  }
  .pokemon-card .pokemon-card-background {
    top: 80%;
    right: -40px;
    transform: translateY(-50%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}