.container {
  height: 100vh;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
  padding-top: 148px;
}

.link-button {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #333333;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 2;
  color: #fff;

  &:hover {
    background-color: #a9a9a9;
  }
}

.logo {
  width: 356px;
  position: absolute;
  top: 0;
  transform: translate(-50%, -25%);
  left: 50%;
}

.input-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  padding-bottom: 44px;
}

.card-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
  place-items: center;
}

.empty-view-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  opacity: 0.1;
  transform: translate(-50%);
  z-index: -1;
}
