.cards {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-card-name {
  font-size: 1.4rem;
}
.all-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.all-status-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.all-status-button-text {
  font-size: 1rem;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.card-body-item {
  color: #000;
  flex: 1;
  margin: 5px;
  border-radius: 15px;
}
.card-body-item-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.card-body-item-text p {
  font-weight: bold;
  font-size: 1rem;
}
