.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media (max-width: 992px) {
    padding: 14px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.loading,
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  gap: 20px;
}
