@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.load {
    width: 72px;
    height: 72px;
    background-image: url('../../../assets/icons/pokeball-gray.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon-card {
    @include setGradientBasedOnType();
    min-width: 288px;
    max-width: 288px;
    height: 128px;
    border: 1px solid $light-gray;
    text-transform: capitalize;
    background-size: 200% 100%;
    transition: all 0.4s ease-in-out;

    &__id {
        position: absolute;
        right: 16px;
        top: 11px;
        
        font-size: 14px;
        color: $dark-gray;
        transition: all 0.6s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        background-position: 95% 0;

        .pokemon-card__id {
            color: $color-white;
            font-weight: $font-weight__bold;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: $font-weight__semibold;
        margin-bottom: 0;
    }

    &__details {
        font-size: 14px;
        color: $darker-gray;
        
        svg {
            width: 16px;
            height: 16px;
        }    
    }

    &__type {
        @include setPropertyBasedOnType(color);
    }
}

@media screen and (max-width: $mobile__breakpoint) {
    .pokemon-card {
        max-width: 100%;
        flex: 1;
    }
}