.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #121214e6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Modal {
  position: absolute;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .Modal {
    width: 80%;
  }
}

.container-modal-pokemon {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container-modal-pokemon::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.container-modal-pokemon::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.container-modal-pokemon::-webkit-scrollbar-thumb {
  background-color: #ddd; /* color of the scroll thumb */
  border-radius: 50px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

@media screen and (max-width: 720px) {
  .container-modal-pokemon {
    height: 500px;
    overflow: auto;
    border-radius: 5px;
  }
}

.modal-pokemon-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .modal-pokemon-main-info {
    display: flex;
    flex-direction: column;
  }
}

.modal-pokemon-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal-pokemon-info-text-id {
  font-size: 1.6rem;
}

.modal-pokemon-info-text-name {
  font-size: 1.6rem;

  margin: 5px 0;
}

.modal-pokemon-info-text-type {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
}

.modal-pokemon-info-text-type p {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  color: #fff;
}

.modal-pokemon-image {
}

.modal-pokemon-secondary-info {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 720px) {
  .modal-pokemon-secondary-info {
    display: flex;
    flex-direction: column;
  }
}

.modal-pokemon-secondary-info-moves {
  flex: 1;
}

.modal-pokemon-secondary-info-moves-title {
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 25px;
}

.modal-pokemon-secondary-info-moves div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.modal-pokemon-secondary-info-moves div p {
  margin-left: 10px;
  font-size: 1.6rem;
}
.modal-pokemon-secondary-info-stats {
  flex: 1;
}

.modal-pokemon-secondary-info-stats-title {
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 25px;

  text-align: right;
}
