.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr;
    }
}