.container{
    width: 100%;
    height: 100vh;

    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);

    position: fixed;
    top:0;
    left:0;
    z-index: 1000;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    animation: show 0.2s linear forwards;
}
.container_modal{
    width: 100%;
    min-height: 500px;
    max-width: 800px;

    border-radius: 5px;
    padding: 2rem 44px;
    background: var(--body);

    opacity: 0;
    transform: scale(0.8);
    animation: show 0.2s linear forwards;
    position: relative;
}
.content{
    width: 100%;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap:32px;

    transition: .2s;
}

.content > div{
    z-index: 10;
}
.content_loading{
    opacity: 0;
    display: none;
}

.close_modal_btn{
    position: absolute;
    left:12px;
    top:1rem;
    z-index: 100;

    background: none;
    border:none;
    outline: none;
    padding: 1rem;
}

.background{
    width: 100%;
    height: 50%;
    position: absolute;
    top:0;
    right: 0;
    border-radius: 5px;
    border-bottom-left-radius: 240px;
    
    opacity: 0;
    animation: show .3s linear forwards;
}

.image{
    width: 290px;
    max-height: 340px;

    display:flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}

.info{
    width: 100%;
    max-width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    background: var(--body);
    padding: 2rem 2.75rem;
    border-radius: 5px;
    box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.15);

    gap:24px;

    opacity: 0;
    transform: translateY(2rem);
    animation: show .3s cubic-bezier(.22,.46,.21,1) 0.1s forwards;
}
.cardInfo{
    width: 100%;
    display: flex;
    gap:16px;
    flex-direction: column;
    padding: 0rem 0.5rem;
}
.cardInfo h2{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color:var(--text-highlight);
    font-weight: 400;
}
.cardInfo > h2 span{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--title);
}
.header_modal_info{
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 1.75rem;
    color:var(--title);
    text-transform: capitalize;
    margin: 0 0 .25rem 0;
}
.container_tags{
    display: flex;
    gap:8px;
    flex-wrap: wrap;
}
.container_tags_abilities{
    flex-direction: column;
    gap:4px;
}
.content_abilities{
    display: flex;
    gap:8px;
    flex-wrap: wrap;

    padding: 1rem;
    background: var(--tag-container);

    border-radius: 5px;
}
.link_more_information{
    text-align: center;
    padding: 1rem 2.75rem;
    color:var(--text-light);
    font-weight: 400;
    border-radius: 5px;
    background: var(--button-background);
    transition: 0.2s;
    font-size: .88rem;
}
.link_more_information:hover{
    transition: 0.1s;
    background: var(--button-background-hover);
}

@keyframes show {
    to{
        opacity: initial;
        transform: initial;
    }
}
@media(max-height:600px){
    .container{
        padding: 1rem;
        align-items: flex-start;
    }
    
}
@media(max-width:768px){
    .container{
        padding: 0;
    }
    .container_modal{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        overflow-y: auto;

        border-radius: 0;
        padding: 2rem 2rem 72px 2rem;
        animation: show 0.01s linear forwards;
        
    }
    .content{
        width: 100%;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap:16px;
    
        transition: .2s;
        padding-top: 64px;
    }

    .background{
        width: 100%;
        height: 200px;
        border-radius: 0;
    }
    .image{
        width: initial;
        max-height: initial;
        height: 200px;

        justify-content: flex-start;
    }
    .image img{
        height: inherit;
    }
    .info{
        background: none;
        padding: 0;
        box-shadow:none;      
    }
}