.container{
    width: 100%;
    height: 140px;

    display: flex;
    justify-content: center;

    background: var(--primary-color);
    border-bottom: solid 8px var(--secundary-color);
}

.content{
    max-width: 1200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
    position: relative;
}
.content > h1{
    height: 100%;

    display:flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 500;
    color:var(--title-light);
}
.search_form{
    position: absolute;
    bottom: 0px;

    max-width: 450px;
    width: 100%;
    height: 50px;

    display: flex;

    transform: translateY(calc(50% + 4px));
    border-radius: 5px;
    padding:0 1rem;
}
.search_form > label{
    width: 100%;
    height: 100%;

    display: flex;

    background: var(--input);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: inherit;
    padding: 0  0 0 2rem;
}
.search_form > label input{
    width: 100%;
    height: 100%;

    border-radius: inherit;
    border:none;
    outline: none;

    color:var(--title)
}
.search_form > label input::placeholder{
    color:var(--placeholder);
    font-weight: 300;
}
.button_search{
    width: 3rem;
    height: 100%;

    display:flex;
    align-items: center;
    justify-content: center;

    background: none;
    padding: 0 2rem;
    border:none;
}
.button_search:hover{
    opacity: 0.7;
}
.button_search img{
    width: 1.5rem;
    cursor: pointer;
}
