.fire {
  background: #ec8484;
}

.bug {
  background: #3b99508c;
}

.dark {
  background: #5a59798c;
}

.dragon {
  background: #61cad98c;
}
.electric {
  background: #fbfb728c;
}
.fairy {
  background: #ea13698c;
}
.fighting {
  background: #ef61388c;
}
.flying {
  background: #93b2c78c;
}
.ghost {
  background: #9067908c;
}
.grass {
  background: #27cb4f8c;
}
.ground {
  background: #a9702c8c;
}
.ice {
  background: #d8f0fa8c;
}
.normal {
  background: #61cad98c;
}
.poison {
  background: #9b69d98c;
}
.psychic {
  background: #a6296c8c;
}
.rock {
  background: #8b3e218c;
}
.steel {
  background: #5f756d8c;
}
.water {
  background: #86a8fc8c;
}
