.headline,
.sub-headline,
.text {
  color: $gray-d;
}

.headline,
.sub-headline {
  @include pt-bold();
}

.text {
  @include pt();
}

.headline {
  @include rem(font-size, 20px);
  margin-bottom: 10px;
  @media (min-width: 576px) {
    margin-bottom: 20px;
    @include rem(font-size, 28px);
  }
}

.sub-headline {
  @include rem(font-size, 16px);
  @media (min-width: 576px) {
    @include rem(font-size, 20px);
  }
}

.text {
  @include rem(font-size, 14px);
  @media (min-width: 576px) {
    @include rem(font-size, 16px);
  }
}
