.skeleton-pokemon-card {
  position: relative;
  border-radius: 16px;
  padding: 24px 16px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skeletons-wrapper {
  display: flex;
  flex-direction: column;
}
