@keyframes loadingAnimation {
  0%,40%,100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-50px);
  }
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
 
  img {
    margin: 0 1rem;
    max-width: 6rem;
    animation: loadingAnimation 1s infinite;

    @media(max-width: 720px) {
      max-width: 5rem;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: calc(.1s * #{$i});
      }
    }
  }
}




