.evolution-chain-container {
  padding-bottom: 64px;
}

.evolution-chain-container h2 {
  font-size: 32px;
}

.evolution-pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  opacity: 0;
  animation: slideInUp 0.5s ease forwards;
}

.evolution-pokemon-card .ant-image {
  width: 240px;
  max-width: 90%;
  cursor: pointer;
}

.evolution-pokemon-card p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 12px;
  text-transform: capitalize;
}

.evolution-pokemon-card .evolution-pokeball-background{
  width: 240px;
  max-width: 90%;
  animation: rotate 10s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
}

.evolution-direction {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(100%, -100%);
}

@media(max-width: 991px) {
  .evolution-chain-container .ant-row {
    flex-direction: column;
    align-items: center;
  }
  .evolution-chain-container .anticon {
    bottom: -8px;
    right: 50%;
    transform: translate(50%, 50%) rotate(90deg);
  }
  .evolution-pokemon-card p {
    margin-top: 24px;
  }
  .evolution-pokemon-card .ant-image {
    width: 180px;
  }
  .pokemon-stat p {
    font-size: 14px;
    font-weight: 500;
  }
  .pokemons-name-and-number-container {
    flex-direction: column;
    align-items: flex-start !important;
  }
}