@keyframes entryLogo {
  from { 
    opacity: 0;
    transform: translateX(-100%);
  }
  to { 
    opacity: 1;
    transform: translateX(0);
  }
}

.#{$namespace}-Header { 
  width: 100%;
  height: 120px;
  overflow : hidden;
  
  display: flex;
  align-items: center;

  background-color: $red_opaque;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  &-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo { 
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-left: 40px;

    animation: entryLogo 400ms;

    img {
      width: auto;
      height: 65px;
    }
  }

  &-search {
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
    background-color: $white;
    padding-left: 10px;
    overflow: hidden;

    transform: translateX(65%);
    transition: 250ms ease-out;

    form {
      display: flex;
      align-items: center;

      button {
        background: transparent;
        border: none;

        img { 
          height:20px;
          width:auto;
        }
      }

      input {
        width: 330px;
        height: 60px;
        border: none;
        outline: transparent;

        &::placeholder {
          color : $gray;
        }
      }
    }
  }

  &--isActive {
    background-color: $green_looq;
    transition: 150ms ease-in;
    .#{$namespace}-Header { 
      &-search {
        transform: translateX(0);
      } 
    }
  }
}



.#{$namespace}-Wrapper-Card { 
  display: flex;
  flex-wrap: wrap;
}
.#{$namespace}-Card {
  flex: 1 0 20%;

  &:hover {
    filter: brightness(.8);
    cursor: pointer;
    transition: 400ms;
  }
}