.not-searched {
    display: none;
}

.searched {
    display: flex;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.search-button-input {
    display: flex;
}

#search-card {
    opacity: 0.9;
    border: solid #B8860B;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000;
    width: 180px;
    height: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-card img {
    height: 76px;
    margin: 10px;
}

#search-card h2::first-letter {
    text-transform: uppercase;
}

.name-pokemon {
    box-shadow: 0 4px 8px #000000;
    margin: 0px 5px 15px 5px;
    width: 165px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
}

.search-pokemon {
    margin: 0px 5px;
    width: 60px;
    height: 25px;
    background-color: #010168;
    box-shadow: 0 4px 8px #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

