.#{$namespace}-Card {
  flex: 1 0 20%;
  padding: 32px;
  display: inline-flex; 
  flex-direction: column;
  align-items: center;

  border: 1px solid #f0f0f0;
  margin: 8px;
  border-radius: 24px;

  overflow : hidden;

  position: relative;

  button {
    position : absolute;
    bottom : -55px;
    right: 32px;
    transition: 300ms;
    cursor: pointer;

    background-color: lightcyan;
    border: none;

    border-radius: 32px;

    padding: 16px 24px;
    border: 1px solid #f3f3f3;
    font-size: 16px;

    font-family: Lato;
  }

  p {
    font-size: 32px; 
    font-family: 'Lato'; 
    margin-bottom: 32px;
    text-transform: capitalize;
  }

  img {
    height: 200px;
    width: 200px;
  }

  &:hover {
    transition: 200ms;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    button {
      bottom : 32px;
      transition: 300ms;
    }
  }

  &--active {
    position: absolute;
    width: calc(100% - 64px);
    height: 100%;
    top: 0;
    cursor: initial;
    z-index: 99;
    margin: 0;
    border-radius: 0;
    transition: 300ms;
    position : fixed;
    align-items: flex-start;
    
    
    .#{$namespace}-Card {
      &-close { 
        position: absolute;
        right: 32px;
        padding : 24px;
        background-color: rgba($color: #fff, $alpha: .1);
        border-radius : 50%;
        display: flex;
        align-items: center;
        justify-content : center;

        &:before {
          content: "\2715";
          color : #fff;
          font-size : 16px;
          position: absolute;
        }

        &:hover {
          background-color: rgba($color: #fff, $alpha: .5);
          @include transition();
          cursor: pointer;
        }
      }

      &-header { 
        p { 
          font-size: 280px;
          position: absolute;
          z-index: -1;
          opacity: 0.4;
        }
      }

      &-body { 
        display: flex;
        justify-content: flex-end;
        width: 100%;
        
        img {
          @include transition();
          height: 68vh;
          width : auto;
        } 
      }
    }
  }
}