.#{$namespace}-Card {
  flex: 1 0 20%;
  padding: 32px;
  display: inline-flex; 
  flex-direction: column;
  align-items: center;

  border: 1px solid #f0f0f0;
  margin: 8px;
  border-radius: 24px;

  overflow : hidden;

  position: relative;

  &-header {
    &-id {
      font-size: 24px;
      color: $white;
    }
    &-name {
      font-size: 32px;  
      margin-bottom: 32px;
      text-transform: capitalize;
    }
  }

  button {
    position : absolute;
    bottom : -65px;
    right: 32px;
    transition: 300ms;
    cursor: pointer;

    border: none;

    border-radius: 70px;

    padding: 16px;
    border: 1px solid #f3f3f3;
    display : flex;
    align-items : center;
    justify-content : center;

    img {
      height: 24px;
      width : 24px;
    }
  }

  img {
    height: 200px;
    width: 200px;
  }

  &:hover {
    transition: 200ms;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    button {
      bottom : 32px;
      transition: 300ms;
    }
  }

  &--active {
    position: absolute;
    width: calc(100% - 64px);
    height: 100%;
    top: 0;
    cursor: initial;
    z-index: 99;
    margin: 0;
    border-radius: 0;
    transition: 300ms;
    position : fixed;
    align-items: flex-start;
    background-color: $white;
    
    .#{$namespace}-Card {
      &-close { 
        position: absolute;
        right: 32px;
        padding : 24px;
        background-color: rgba($color: #fff, $alpha: .1);
        border-radius : 50%;
        display: flex;
        align-items: center;
        justify-content : center;

        &:before {
          content: "\2715";
          color : #fff;
          font-size : 16px;
          position: absolute;
        }

        &:hover {
          background-color: rgba($color: #fff, $alpha: .5);
          @include transition();
          cursor: pointer;
        }
      }

      &-header {
        &-id {
          font-weight: 300;
        } 

        &-name {
          font-size: 64px;
          z-index: -1;
          color: $white;
          margin-bottom: 16px;
          
          &-japonese { 
            font-size: 120px;
            opacity: .4;
          }

        }

        &-char { 
          color: $white;
          font-weight: 100;
          margin-bottom: 6px;
        }
        &-char,
        &-name-japonese {
          margin-left: 52px;
        }
      }

      &-body { 
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform : translateY(-30%);

        &-bases { 
          padding-left: 24px;
          position: relative;
          height: 290px;
          width : 250px;
          display :flex;
          flex-direction: column;
          justify-content: center;

          &-content {
            width : 100%;
            display : flex;
            justify-content: center;
          }

          &::before { 
            content: '';
            height: 100%;
            width: 4px;
            background-color: $white;
            position: absolute;
            left: 0;
            top : 0;
            border-radius: 40px;
          }


          &-title { 
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 900;
            font-style: italic;
            color: #fff;
            margin-bottom: 24px;
          }

          ul { 
            flex-wrap: wrap;
            display: flex;
            li { 
              p { 
                font-size: 16px;
                text-transform: uppercase;
                padding: 8px;
                background-color: $white;
                border-radius: 10px;
                display: inline-flex;
                margin: 4px;
              }
            }
          }
        }
        
        img {
          @include transition();
          height: 400px;
          width : auto;
          transform : translateX(40%) ;
        } 
      }
    }
  }
}