.#{$namespace}-Loading { 
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #121516;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  img {
    width: 100%; 
  }
}