.not-found-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found-container h1 {
    margin: 0px;
    margin-bottom: 16px;
}

.not-found-container p {
    margin: 0px;
    margin-bottom: 40px;
}

.not-found-container .ant-btn {
    height: 56px;
}

.not-found-container img {
    height: 200px;
    margin-bottom: 16px;
}

.not-found-container .ant-btn:hover {
    border: 1px solid #0b0b0b;
    background-color: transparent !important;
}