.mainSection{
    display: flex;
    flex-direction: row;
}

.infoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 20px 20px;
    width: 50vw;
}

.searchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0px 20px;
    width: 50vw;
}

.infoDiv{
    border: 50px solid #d4d4d4;
    border-radius: 15px;
    background-color: #236b40;
    width: 600px;
    height: 430px;
}

.dataDiv{
    display: grid;
    grid-template-rows: 85% 15%;
    border: 10px inset #909090;
    width: 100%;
    height: 100%;
}

.dataMain{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.dataMain img{
    width: 90%;
    filter: sepia(1) hue-rotate(80deg);
}

.dataStats h2{
    color: #b9ffd5;
}

.dataStats h3{
    color: #b9ffd5;
}

.dataTypes{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.pokemonType{
    width: 100%;
    background-color: #b9ffd5;
    color: #236b40;
    text-align: center;
}

.dataFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: #b9ffd5;
    padding: 0 20px;
}

.dataFooter h2{
    color: #236b40;
}

.dataId{
    margin-right: 20px;
}

.searchInputDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    height: 80px;
    border-radius: 10px;
    background-color: #236b40;
    border: #909090 inset 5px;
    margin-bottom: 30px;
}

.searchInput{
    padding-left: 20px;
    margin-right: 10px;
    width: 510px;
    height: 100%;
    background-color: transparent;
    font-size: 40px;
    color: #b9ffd5;
}

.searchInputSubmit{
    width: 100%;
    height: 100%;
    background-color: #b9ffd5;
    color: #236b40;
}

.searchListSection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchList{
    width: 600px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(2, 50%);
    margin-bottom: 20px;
}

.searchListUpdate{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 20px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffe600;
}