@import './assets/styles/variables';

body { 
    background-color: $body-background-color;
}

* {
    font-family: 'Inter';
    line-height: 120%;
}

@media screen and (max-width: $mobile__breakpoint) {
    body {
        padding: 48px 0;

        main {
            padding: 0 16px; 
        }
    }
}