* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: url('assets/bg.png') no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}